[Unit]
Description=Prod Flask App (Gunicorn)
After=network.target

[Service]
User=uadmin
WorkingDirectory=/home/uadmin/PythonApp
ExecStart=/home/uadmin/PythonApp/venv/bin/gunicorn app:app -b 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target
