[Unit]
Description=Stage Flask App
After=network.target

[Service]
User=uadmin
WorkingDirectory=/home/uadmin/PythonApp
ExecStart=/home/uadmin/PythonApp/venv/bin/flask run
Restart=always

[Install]
WantedBy=multi-user.target
